@charset "UTF-8";

body  {
    background:#151515;    
  	font-family: sans-serif;
  	
}

.seta.fas {
  color : yellow;
 
 font-size: 60px;
  margin-top:4.2em;
  width: 50%;

 vertical-align:middle;
 

}

#divBusca{
  background-color:white;
  border:solid 2px #5F9EA0;
  border-radius:10px;
  width:600px;
  height:100px;
  font-size:60px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  color:black;
  border:none;
  height:50px;
  width:400px;
  font-size:50px;
}

#btnBusca{
  border:none;
  float:left;
  height:60px;
  border-radius:0 7px 7px 0;
  width:170px;
  font-weight:bold;
  background:yellow;
}

#divBusca i{
  float:right;
}

h2 {
    font-size:3.5em;margin:10px 10px 20px 10px;color:#FFF;
}
h1 {
    font-size:4em;margin:10px 10px 20px 10px;color:#FFF;
    font-weight:900;
}

h3 {
    font-size:3.5em;margin:10px 10px 20px 10px;color:#FFF;
}

h1#tittle {
    font-size:4.0em;margin:0px 10px 0px 0px;color:#FFF;
   
}



input {
	margin-top: 40px;
	width: 820.835971723015px;
	height: 51.999999999999886px;
	font-family: Arial;
	font-size: 36.0px;
	font-weight: 400;
	color: #FFFFFF;
	border-top: 5.0px solid #FFFFFF;
	border-right: 5.0px solid #FFFFFF;
	border-bottom: 5.0px solid #FFFFFF;
	border-left: 5.0px solid #FFFFFF;
	padding: 10px;
}

button.arrow {
	width: 52.999999999999545px;
	height: 50.20450281425889px;
	opacity: 0.67;
	font-family: Arial;
	font-size: 36.0px;
	font-weight: 400;
	text-align: center;
	color: #030303;
	background-color: #fff000;
	border-top: 1.0px solid #333233;
	border-right: 1.0px solid #333233;
	border-bottom: 1.0px solid #333233;
	border-left: 1.0px solid #333233;
	border-radius:10px
}

button {
	margin-top: 40px;
	width: 400.30465327698505px;
	height: 100.0px;
	opacity: 0.67;
	font-family: Arial;
	font-size: 36.0px;
	font-weight: 400;
	text-align: center;
	color: #030303;
	background-color: #fff000;
	border-top: 1.0px solid #333233;
	border-right: 1.0px solid #333233;
	border-bottom: 1.0px solid #333233;
	border-left: 1.0px solid #333233;
	border-radius:10px
}




.tittle-container {
	display: inline-flex;
  	align-items:center;
}

.scroll-selection {
	background:#000000;
	display: inline-flex;
  	align-items:center;
}


:focus {
	outline: 10px solid red;
	transition:.5s;
}


